@define-color bg   #282828;
@define-color ws_foc #3c3836;
@define-color ws-clr #d65d0e;
@define-color font #fabd2f;
@define-color pipe #7d818a;

window#waybar {
    background-color: @bg;
}
* {
    font-size: 16px;
    font-family: Ubuntu Mono;
}

/* right module */
#pulseaudio, #clock, #network, #disk, #memory, #cpu, #backlight, #battery, #temperature, #language {
    /*margin: 2px 0px 2px 0px ;*/
    padding: 4px 4px 4px 4px;
    background-color: @bg;
}

#workspaces{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: @bg;
}

#workspaces button{
    background: @bg;
    color: @font;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}

#workspaces button.focused{
    color: @ws-clr;
    background: @ws_foc;
    font-weight: bold;
    border-width: 4px;
    border-color: #cc241d;
    border-style: none none outset none;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

#workspaces button.urgent{
}

#custom-left_pad{
    border-radius: 8px 0px 0px 8px;
    padding:0px 2px 0px 2px;
    margin: 2px 0px 2px 2px ;
    background-color: @bg;
}

#custom-right_pad{
    border-radius: 0px 8px 8px 0px;
    padding:0px 2px 0px 2px;
    margin: 2px 2px 2px 0px ;
    background-color: @bg;
}

#clock{
    color: #d79920;
}

#pulseaudio{
    color: #448488;
}

#network{
    color: #989719;
}

#memory{
    color: #b16185 ;
}

#cpu{
    color: #448488;
}

#temperature {
    color: #cc231c;
}

#backlight{
    color: #689d69;
}

#language {
    color: #d79920;
}

#battery{
    color: #cc231c ;
}

#window {
    color: #989719;
}

